body{
    text-align:center;
    padding-top:550px;
    margin:0;
}
.profile{
    border-radius:50%;
    width: 170px;
    margin-bottom:50px;
}
#welcome{
    position: absolute;
    bottom:0;
    display: table;
    width: 100%;
    height:70%;
    background:linear-gradient(#078c38 0%,#03ab9a 100%);
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:9;
}
h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}
#name{
    font-size: 50px;
    font-family: 'Kings', cursive;
}
h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}
#bio{
    font-family: monospace;
    padding: 50px;
}
.line{
    height: 6px;
    background: black;
    width: 70px;
    margin: 8px auto;
}
.parallax-inner{
    display: table-cell;
    vertical-align: middle;
}
.menu{
    position: fixed;
    background: white;
    width: 100%;
    z-index:10;
    cursor:pointer;
    margin-top: 0px;
    top: 0px;

}
.links{
    float:left;
    padding-right:9px;
    padding-left:9px;
    font-size:20px;
    font-family:cursive;
    display: inline;
}
.links:hover{
    font-size:25px;
    text-decoration:underline;
}
#Writings a{
    text-decoration: underline !important;
    color: black !important;
}
#Contact{
    background:forestgreen;
}
.contact1 h3{
    display: inline;
}